.dragable-component {
    position: relative;
    text-align: left;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;

    .remove {
        position:absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        right: 5px;
        background-color: red;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }
}

.moving {
    background-color: lightgreen;
}