.dropable-component {
    background-color: white;
    position: relative;
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 1px solid lightgrey;
    height: 100%;
    min-height: 100px;

    h2 {
        margin: 15px;
    }

    .add {
        position: absolute;
        background: url("../../assets/icons/add.svg") no-repeat;
        right: 15px;
        top: 10px;
        height: 15px;
        width: 15px;
    }
}
