.ogsm {
    background: url("../../assets/backgrounds/pattern.svg");

    .row-borders{
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        height: 100px;
        width: 100%;
    }
}
